.btn { font-family: Helvetica, Arial, sans-serif;  font-size: 16px;  font-weight: bold; color: #fff;  text-decoration: none;display: inline-block;padding: 12px 37px 10px 37px;border: 0 solid #3dbf8d;border-radius: 24px;background-color: #3dbf8d;
    &:hover{color: #fff;}
}
.underline{width: 55px;height: 4px;display: inline-block; background-color: #3dbf8d; }
h4{font-weight: bold;}
.gray-bg{background-color: #f7f7f7!important;}
.footer{background-color: #212733!important;}
.footer a{color: #fff; font-size: 12px;}