---
subject: avivi letter
---
<container>
    <row class="collapse">
        <columns small="12">
            <img src="assets/img/first.jpg" alt="">
        </columns>
    </row>
    <row>
        <columns small="12">
            <spacer size="21"></spacer>
            <p class="text-center">Предлагаем Вам ознакомиться с нашими новыми публикациями:</p>
            <spacer size="5"></spacer>
           <p class="text-center"> <a class="text-center btn" href="#">ЧИТАТЬ ПУБЛИКАЦИИ</a></p>
            <spacer size="14"></spacer>
        </columns>
    </row>
</container>
<wrapper>
    <container class="gray-bg">
        <row>
            <columns small="12">
                <spacer size="35"></spacer>
                <h4 class="text-center">Как готовить вкусный сайт</h4>
                <spacer size="13"></spacer>
                <p class="text-center"><span class="underline"></span></p>
            </columns>
        </row>
        <row class="collapse">
            <columns small="12" large="12">
                <span class="text-left" style="margin-left: 10px; vertical-align: middle;">27 Сентября 2018</span>
               <span style="display: inline-block; float: right;">
                    <span class="text-right" style="display: inline-block; padding-top: 5px;">
                        <span style="margin-bottom: 0;"><b>Вячеслав Нагнибеда</b></span><br>
                        <span style="font-size: 14px; color: #363636;"> PR Менеджер</span>
                    </span>
                    <img class="float-right" src="assets/img/author.png" alt="" style="margin-left: 10px;margin-right: 10px;">
               </span>
            </columns>
        </row>
        <row class="collapse">
            <columns small="12">
                <spacer size="5"></spacer>
                <img src="https://avivi.pro/upload/iblock/893/893fc54044966b847969c7e572c8bff0.png" alt="">
                <spacer size="10"></spacer>
            </columns>
        </row>
        <row>
            <columns small="12">
                <p class="text-center">Если Вы хотите обладать эффективным сайтом для продвижения
                    Вашего дела, необходимо учитывать много факторов, которые
                    зависят не только от разработчиков, но и непосредственно от Вас.
                    И это не относиться только к внешнему виду интернет страницы — управление и наполнение также должны быть максимально удобными.
                    Общую концепцию легко представить в виде гамбургера, где каждый ингредиент имеет свое место и придает определенный вкус.</p>
                <spacer size="10"></spacer>
            </columns>
        </row>
    </container>
</wrapper>
<wrapper>
    <container>
        <row>
            <columns small="12">
                <spacer size="35"></spacer>
                <h4 class="text-center">Как готовить вкусный сайт</h4>
                <spacer size="13"></spacer>
                <p class="text-center"><span class="underline"></span></p>
            </columns>
        </row>
        <row class="collapse">
            <columns small="12" large="12">
                <span class="text-left" style="margin-left: 10px; vertical-align: middle;">27 Сентября 2018</span>
                <span style="display: inline-block; float: right;">
                    <span class="text-right" style="display: inline-block; padding-top: 5px;">
                        <span style="margin-bottom: 0;"><b>Вячеслав Нагнибеда</b></span><br>
                        <span style="font-size: 14px; color: #363636;"> PR Менеджер</span>
                    </span>
                    <img class="float-right" src="assets/img/author.png" alt="" style="margin-left: 10px;margin-right: 10px;">
               </span>
            </columns>
        </row>
        <row class="collapse">
            <columns small="12">
                <spacer size="5"></spacer>
                <img src="https://avivi.pro/upload/iblock/893/893fc54044966b847969c7e572c8bff0.png" alt="">
                <spacer size="10"></spacer>
            </columns>
        </row>
        <row>
            <columns small="12">
                <p class="text-center">Если Вы хотите обладать эффективным сайтом для продвижения
                    Вашего дела, необходимо учитывать много факторов, которые
                    зависят не только от разработчиков, но и непосредственно от Вас.
                    И это не относиться только к внешнему виду интернет страницы — управление и наполнение также должны быть максимально удобными.
                    Общую концепцию легко представить в виде гамбургера, где каждый ингредиент имеет свое место и придает определенный вкус.</p>
                <spacer size="10"></spacer>
            </columns>
        </row>
    </container>
</wrapper>
<wrapper>
    <container class="footer">
        <row>
            <columns small="6" large="4">
                <spacer size="23"></spacer>
                <center>
                    <img src="assets/img/f1.png" alt="">
                </center>
                <spacer size="6"></spacer>
                <p class="text-center"><a href="#" >avivi.pro</a></p>

            </columns>
            <columns small="6" large="4">
                <spacer size="23"></spacer>
                <center>
                    <img src="assets/img/f2.png" alt="">
                </center>
                <spacer size="6"></spacer>
                <p class="text-center"> <a href="#" >+38 <b> 068 20 20 200</b></a></p>
            </columns>
            <columns small="12" large="4">
                <spacer size="23"></spacer>
                <center>
                    <img src="assets/img/f3.png" alt="">
                </center>
                <spacer size="17"></spacer>
                <p class="text-center"> <a href="#">hello@avivi.com.ua</a></p>
            </columns>
        </row>
        <row>
            <columns small="12">
                <hr>
                <spacer size="10"></spacer>
                <p class="text-center"><a href="#" >Отписаться</a></p>
            </columns>
        </row>
    </container>
</wrapper>